// Mission.js style
.main {
  display: flex;
  justify-content: center;

  .sub-main {
    display: flex;
    max-width: 1000px;
    padding: 0.25rem;
  }

  table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    th,
    td {
      padding: 0.25rem 0.5rem;
      text-align: left;
      border: 2px solid rgb(226 232 240 / 1);
    }

    #mission,
    #stats,
    #action {
      width: 15%;
    }

    #desc {
      width: 55%;
    }

    .data-info {
      #mis-name {
        font-weight: 600;
      }

      #mis-button {
        display: flex;
        justify-content: center;
        height: 100%;
      }
    }
  }
}

// MissionSwitch.js styles
.btn-switch {
  background: transparent;
  border: 2px solid;
  padding: 8px;
  margin: 4px;
  font-size: 15px;
  letter-spacing: 0.05rem;
  border-radius: 12px;
  transition: all 0.4s;
}

.active {
  color: #fd4b5a;
}

.active:hover {
  background: #fd4b5a;
  color: #fff;
}

.not-active {
  color: #777777d3;
  border-color: #777777d3;
}

.not-active:hover {
  background: #777777d3;
  color: white;
}

.badge-switch {
  padding: 4px 8px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 12px;
  height: 28px;
  transition: all 0.4s;
}

.member {
  background: #4be7e7;
}

.no-member {
  background: #777777d3;
}