#rocket-filter {
  flex: 1;

  ul {
    border: 1px solid #e0e0e0;
    padding: 0;

    li {
      list-style: none;
      padding: 24px 12px;

      &:not(:last-child) {
        border-bottom: 1px solid  #e0e0e0;
      }
    }
  }
}
